@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thin scrollbar with blue track and thumb */
::-webkit-scrollbar {
  width: 6px;            /* Equivalent to scrollbar-thin */
  height: 6px;

}

::-webkit-scrollbar-track {
  background: transparent;   /* Tailwind's blue-200 */
  margin: 0 100px; 
}

::-webkit-scrollbar-thumb {
  background-color: #3b83f68b; /* Tailwind's blue-500 */
  border-radius: 30px;     /* Fully rounded */
  border: 1px solid transparent;
  
}

/* Optional: For Firefox */
.Hscroll {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 #0b5fe6;
}

@keyframes fallRotate {
  0% {
    transform: translateY(-100px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

.square {
  position: absolute;
  top: -50px;
  border-radius: 4px;
  animation-name: fallRotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  will-change: transform, opacity;
}
